body,h1 {font-family: "Montserrat", sans-serif}
body, html {height: 100%; background-color: black; color: white;}
div {
	max-width: 100%;
}
#logo {
	margin: 0;
	padding-top: 10px;
}
#logo > div {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 0;
}
#logo>div:nth-child(1) {
	background-image: url('./logo_left.png');
	background-position-y: -10px;
}
#logo>div:nth-child(2) {
	background-image: url('./logo_center.svg');
	padding: 0;
	width: 702px;
	height: 109px;
}
#logo>div:nth-child(3) {
	background-image: url('./logo_right.png');
	background-position-y: 23px;
}
@media only screen and (max-width: 1200px) {
	#logo>div:nth-child(2) {
		width: 490px;
		height: 76px;
	}
	#logo>div:nth-child(1) {
		background-position-y: -6px;
	}
	#logo>div:nth-child(3) {
		background-position-y: 16px;
	}
}

@media only screen and (max-width: 490px) {
	#logo>div:nth-child(2) {
		width: 340px;
		height: 53px;
	}
	#logo>div:nth-child(1) {
		background-position-y: -4px;
	}
	#logo>div:nth-child(3) {
		background-position-y: 11px;
	}
}
.margin-bottom-medium {
	margin-bottom: 6vh;
}
.font-medium {
	font-family: Montserrat;
	font-size: 30px;
}
.font-small {
	font-family: Montserrat;
	font-size: 24px;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin-left: 0;
	margin-right: 0;
}
.full-width {
	width: 100%;
}
.padding-small {
	padding-left: 10px;
	padding-right: 10px;
}
div.col-12:nth-child(1) > p {
	margin-top: 20px;
}
#video > iframe {
	width: 100%;	
}

#ref {
	padding-top: 2vh;
	padding-bottom: 2vh;
}
#user-email {
	border-radius: 10px;
	border: 2px solid #1ecfff;
	padding: 2px 10px 2px 10px;
	text-align: center;
	background-color: black;
	color: white;
}

.margin-top-small {
	margin-top: 1.5vh;
}
.margin-top-medium {
	margin-top: 3vh;
}
.margin-bottom-medium {
	margin-bottom: 6vh;
}
.margin-top-large {
	margin-top: 6vh;
}

@media only screen and (max-width: 1200px) {
	.margin-bottom-medium {
		margin-bottom: 12vh;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1269px) {
	.margin-top-small {
		margin-top: 0.5vh;
	}
	.margin-top-medium {
		margin-top: 1vh;
	}
	.margin-top-large {
		margin-top: 3vh;
	}
}

@media only screen and (min-width: 1488px) {
	.margin-top-small {
		margin-top: 2vh;
	}
	.margin-top-medium {
		margin-top: 5vh;
	}
	.margin-top-large {
		margin-top: 8vh;
	}
}